<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tn.esprit.taktakandroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />




    <application
        android:allowBackup="true"
        android:configChanges="uiMode"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TakTakAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service android:name=".utils.SocketService" />

        <activity
            android:name=".uis.common.mapView.MapActivity"

            android:exported="false" />
        <activity
            android:name=".uis.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".uis.common.resetPwd.ResetPwdActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".uis.common.registerTwo.RegisterTwoActivity"
            android:exported="false" />
        <activity
            android:name=".uis.common.registerOne.RegisterOneActivity"
            android:exported="false" />
        <activity
            android:name=".uis.common.otpVerification.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".uis.common.emailForgotPwd.EmailForgotPwdActivity"
            android:exported="false" />
        <activity
            android:name=".uis.common.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".uis.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>